@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap");
body {
  margin: 0;
  font-family: "Roboto Mono", arial;
  background-color: #F2F2F2;
  height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 20;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    width: 100%;
  }
  
  .nav-container {
    background: #F2F2F2;
    /*
    .nav-bar{
        height: 30%;
        width: 100%;
        position:absolute;
        top: 0pt;
        right: 0pt;
        background-color: #F2F2F2;
    }
    */
  }
  .nav-container a {
    color: #0D0D0D;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 2em;
    background-color: #F2F2F2;
  }
  header .logo {
    font-size: xx-large;
    font-weight: 700;
    line-height: 0px;
  }
  header nav ul {
    display: flex;
    line-height: 0px;
    padding-right: 5em;
  }
  header nav ul a {
    display: block;
    padding: 0 1em;
  }


  .yes
  {
      position: relative;
      margin-top: 20em;
  }

.section 
{
    /* apparently if you set position relative on a flex box thing, 
    it will just fill up the moved space */
    display: flex;
    flex-wrap: nowrap;
    padding: 0 4px;
    width: 100%;
    justify-content: center;
}

.col
{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}


