@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif, arial;
  background-color: #F2F2F2;
  height: 100%;
  overflow: hidden;
}


.hamburger-menu 
{ 
  /* disable this div for now */
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 20;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background: #F2F2F2;
  /*
  .nav-bar{
      height: 30%;
      width: 100%;
      position:absolute;
      top: 0pt;
      right: 0pt;
      background-color: #F2F2F2;
  }
  */
}
.nav-container a {
  color: #0D0D0D;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 2em;
  background-color: #F2F2F2;
}
header .logo {
  font-size: xx-large;
  font-weight: 700;
  line-height: 0px;
}
header nav ul {
  display: flex;
  line-height: 0px;
  padding-right: 5em;
}
header nav ul a {
  display: block;
  padding: 0 1em;
}

.hero {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: left;
  align-items:flex-end;
  background: url("../Images/happy_doggie.png");
  background-size: cover;
  background-color: #cccccc;
  padding-left: 3em;
  height: 500px; /* You must set a specified height */
  background-position: center; /* start the image from bottom*/
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  line-height: 20px;
  color: #F2F2F2;

}

.content
{
  padding-bottom: 3em;
}


.hero .content h1
{
  font-weight: 900;
  font-size: 12em;
  margin: 0%;
  line-height: normal;
}

.hero .content p {
  padding-left: 5px;
  font-size: 20px; 
  font-weight: 500;
  margin: 0%;
}


@media screen and (max-width: 1200px) {




  .hero
  {
    width: 100%;
  }
  

  .hero .content h1
  {
    font-weight: 900;
    font-size: 8em;
    margin: 0%;
    overflow-wrap: break-word; 
    line-height:normal;
  }
  header .logo
  {
    font-size: xx-large;
    font-weight: 700;
    line-height: 0px;
    margin-top: 10px;
  }
   
  nav 
  {
    display: none;
  }

  .hamburger-menu
  {
    display:inline;
  }

  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    right: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 40px;
    left: 90%;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color:  #F2F2F2;;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-size: x-large;
    font-weight: 500;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #ffb331;
  }
  
  
}
