@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif, arial;
  background-color: #F2F2F2;
  height: 100%;
  overflow: hidden;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 20;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background: #F2F2F2;
  /*
  .nav-bar{
      height: 30%;
      width: 100%;
      position:absolute;
      top: 0pt;
      right: 0pt;
      background-color: #F2F2F2;
  }
  */
}
.nav-container a {
  color: #0D0D0D;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 2em;
  background-color: #F2F2F2;
}
header .logo {
  font-size: xx-large;
  font-weight: 700;
  line-height: 0px;
}
header nav ul {
  display: flex;
  line-height: 0px;
  padding-right: 5em;
}
header nav ul a {
  display: block;
  padding: 0 1em;
}

.hero {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: left;
  align-items: center;
  background: url("../Images/happy_doggie.png");
  background-size: cover;
  background-color: #cccccc;
  padding-left: 3em;
  height: 500px; /* You must set a specified height */
  background-position: center; /* start the image from bottom*/
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.hero .content {
  text-align: left;
  position: absolute;
  top: 60%;
  font-size: 5em;
  font: 400;
  color: #F2F2F2;
  line-height: 0%;
}
.hero .content p {
  font-size: large;
  position: relative;
  left: 2em;
}

