//hello???? 

//imports from google.com/fonts. 700, 400, 300
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

body{
    height: 100vh;
    margin: 0;
    font-family: 'Roboto Mono', arial; //putting in arial as a fall back font 
    
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 20;
}
a
{
    text-decoration: none;
}
img
{
    width: 100%;
}

//making navigation bar
//its class so give period  
.nav-container{
    background: #F2F2F2;
    a{
        color: #0D0D0D;
    }
}

header{
    position: fixed;

    top: 0; 
    left: 0;
    width: 100%;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    padding: 2em;
    
    .logo{
        font-size: xx-large;
        font-weight: 700;
        line-height: 0px; // im using the same line height for logo and ul so they line up 
        
    }
    
    nav{
        ul{
            display: flex;
            line-height: 0px;
            padding-right: 5em;
            a{
                display: block;
                padding: 0 1em;
            }
        }

    }
}



.hero
{   
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: left;
    align-items:center;
    background: url("happy_doggie.png");
    background-size: cover;
    background-color: #cccccc;
    padding-left: 3em;
}

.hero.content
{
    text-align: left;
}

.hero .content h1
{
    position: absolute;
    top: 70%;
    font-size: 5em;
    color: #F2F2F2;
}

.hero .content p 
{
    position: absolute;
    top: 80%; //85 
    font-size: 1em;
    color: #F2F2F2;
}

//FUCK 
.btn
{

}


